/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles */
body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; /* Add padding on either side */
}

/* Header styles */
header {
    padding: 20px 0;
    opacity: 1; /* Initially set the header to be visible */
    transition: opacity 0.5s ease; /* Add transition for smooth appearance */
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-size: 36px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff; /* Change hyperlink color to white */
    text-decoration: none;
    font-size: 18px;
}

/* Header styles for All Products page */
header#all-products-header {
    background-color: #000; /* Change background color as needed */
}

/* Header styles for Product Detail page */
header#product-detail-header {
    background-color: #000; /* Change background color as needed */
}

/* Additional CSS styling for the search bar */
#searchBar {
    display: none;
    margin-top: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add padding to ensure space for header content */
    padding: 10px;
}

#searchBar input[type="text"] {
    padding: 10px;
    width: 200px;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    margin-right: 10px;
}

#searchBar button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

